# 1.0 Coleta dos dados e Preparação

## 1.1 Importações

In [6]:
import pandas as pd
import zipfile

## 1.2 Tratando os arquivos

Arquivo usado não está codado em utf-8 e por isso ele não lê o arquivos, precisamos resolver esse problema:

Vamos tentar decodificá-los diretamente, e em seguida tentar decodificar com uma abordagem mais personalizada:

In [9]:
# Decodificar o arquivo sem descompactá-lo
zip_path = r"C:\Users\henri\Documents\GitHub\DataScience2\Arquivos\archive.zip"

with zipfile.ZipFile(zip_path, 'r') as z:
    for info in z.infolist():
        try:
            # Tentando decodificar o nome do arquivo
            print(info.filename.encode('cp437').decode('utf-8')) # '.filename' retorna o nome do arquivo ZIP
        except UnicodeDecodeError:
            # Se der erro de decodificação, imprimimos o nome como está
            print(f"Erro ao decodificar o nome do arquivo: {info.filename}")

dataset-2003-2019.csv

Conseguimos decodificar o arquivo, acima

In [11]:
zip_path = r"C:\Users\henri\Documents\GitHub\DataScience2\Arquivos\archive.zip"

with zipfile.ZipFile(zip_path, 'r') as z:
    with z.open('dataset-2003-2019.csv') as p:
        df = pd.read_csv(p, sep=';')

# 2.0 Análise Exploratória

In [13]:
df.head()

,year,position,team,points,games,victories,draws,losses,goals_scored,goals_against,goals_difference,perc_points_won
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,72
1,2003,2,Santos,87,46,25,12,9,93,60,33,63
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,56
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,53
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,52

In [14]:
# Visão geral sobre a base de dados
df.describe()

,year,position,points,games,victories,draws,losses,goals_scored,goals_against,perc_points_won
count,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000
mean,2010.794286,10.837143,53.782857,39.348571,14.548571,10.245714,14.554286,51.285714,51.257143,45.445714
std,4.983983,6.025190,12.648374,2.826134,4.309207,2.610793,4.379056,13.145366,12.824678,10.231485
min,2003.000000,1.000000,17.000000,38.000000,3.000000,3.000000,4.000000,18.000000,19.000000,15.000000
25%,2006.000000,6.000000,45.250000,38.000000,11.000000,8.250000,12.000000,42.250000,42.250000,39.000000
50%,2011.000000,11.000000,53.000000,38.000000,14.000000,10.000000,14.000000,50.000000,49.000000,45.000000
75%,2015.000000,16.000000,61.000000,38.000000,17.000000,12.000000,17.000000,59.000000,59.000000,52.000000
max,2019.000000,24.000000,100.000000,46.000000,31.000000,18.000000,29.000000,103.000000,92.000000,81.000000

In [15]:
df['year'].value_counts()

year
2003    24
2004    24
2005    22
2013    20
2018    20
2017    20
2016    20
2015    20
2014    20
2011    20
2012    20
2010    20
2009    20
2008    20
2007    20
2006    20
2019    20
Name: count, dtype: int64

Alguns campeonatos (principalmente os primeiros) eram disputados por 24 ou 22 equipes, para utilizarmos os campeonatos com somente 20 times teremos de descartar os campeonatos com mais de 20 participantes.

In [17]:
# Removendo algumas colunas
brasileirao = df.query('year != 2003 & year != 2004 & year != 2005')

In [18]:
brasileirao

,year,position,team,points,games,victories,draws,losses,goals_scored,goals_against,goals_difference,perc_points_won
70,2006,1,São Paulo,78,38,22,12,4,66,32,34,68
71,2006,2,Internacional,69,38,20,9,9,52,36,16,61
72,2006,3,Grêmio,67,38,20,7,11,64,45,19,59
73,2006,4,Santos,64,38,18,10,10,58,36,22,56
74,2006,5,Paraná,60,38,18,6,14,56,49,7,53
...,...,...,...,...,...,...,...,...,...,...,...,...
345,2019,16,Ceará,39,38,10,9,19,36,41,–5,34
346,2019,17,Cruzeiro,36,38,7,15,16,27,46,–19,31
347,2019,18,CSA,32,38,8,8,22,24,58,–34,28
348,2019,19,Chapecoense,32,38,7,11,20,31,52,–21,28
349,2019,20,Avaí,20,38,3,11,24,18,62,–44,17